
body {
  background-color: antiquewhite;
}

h1 {
  margin: 0;
  padding: 0;
}

p {
  margin: 3px 0px;
  padding: 0;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-radius: 5px;
}

#container .blog{
  width: auto;
  padding: 10px 10px;
  margin: 0px 0px 5px 0px;
}

#container-blogs .blogs-header{
  padding: 10px 10px;
}

#container p {
  display: block;
  padding: 0px 20px;
}

p.logged {
  color: red
}

.togglableContent {
  background-color: #f2f2f2;
  padding: 10px 0px;
}

#container-blog-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#container-login-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100px;
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 7px 10px;
  margin: 2px 2px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[value=cancel] {
  width: 100px;
  background-color: rgb(190, 79, 79);
  color: rgb(247, 242, 242);
  padding: 7px 20px;
  margin-left: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


button[value=logout] {
  width: 100px;
  background-color: rgb(190, 79, 79);
  color: rgb(247, 242, 242);
  padding: 7px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[value=remove] {
  width: 100px;
  background-color: rgb(190, 79, 79);
  color: rgb(247, 242, 242);
  padding: 7px 0px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

button[value=cancel]:hover {
  background-color: #da0d28;
}

button[value=logout]:hover {
  background-color: #da0d28;
}

button[value=remove]:hover {
  background-color: #da0d28;
}





